In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("default")

In [3]:
df = pd.read_excel("data/GET-R2.xlsx")
df.head()

,y_test,y_pred_linear,X_train,X_train.1,X_train.2,X_train.3,X_test,X_test.1,X_test.2,X_test.3,y_train
0,10.0,19.812340,443.87,31.00,57.17,817.38,426.43,23.00,38.67,684.75,3.0
1,16.0,15.663241,441.55,33.30,53.63,663.37,413.56,26.48,32.45,628.68,3.0
2,15.0,12.626890,430.52,35.87,46.93,423.74,408.11,29.93,29.27,578.41,2.0
3,11.0,10.904763,421.59,37.24,42.24,363.13,402.32,31.14,26.41,523.32,2.0
4,6.0,9.239786,422.41,37.34,42.52,489.05,396.36,32.38,20.83,382.75,1.0

In [6]:
df2 = pd.read_csv("data/R2-test-for-Linear.csv")
df2.shape

(108, 2)

In [12]:
df2.head()

   y_test  y_pred_linear
0     3.0      13.416981
1     3.0      12.277990
2     3.0      13.801432
3     4.0      14.032488
4     4.0      13.640793

In [4]:
df.shape

(1007, 11)

In [8]:
df.dropna(inplace=True)

In [11]:
df.shape

(263, 11)

In [16]:
y = [21, 21, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2]
y_pred = [21.5, 21.14, 26.1, 20.2, 17.5, 19.7, 14.9, 22.5, 25.1, 18]

total_1, total_2 = 0, 0
y_mean = np.mean(y)

for i in range(len(y)):
    diff1 = y_pred[i] - y_mean
    diff_sq1 = diff1 * diff1
    total_1 += diff_sq1
    
    diff2 = y[i] - y_mean
    diff_sq2 = diff2 * diff2
    total_2 += diff_sq2
    
print(total_1, total_2)
my_R2 = total_1/total_2
my_R2, 1/my_R2

105.86500000000004 76.06099999999998

(1.391843388858943, 0.7184716384074052)

In [28]:
total1, total2 = 0, 0

for i in range(len(y)):
    total1 += (y[i]-y_pred[i])**2
    total2 += (y[i]-y_mean)**2
    
total1, total2

(27.29959999999999, 76.06099999999998)

In [29]:
1 - total1/total2

0.6410828151089257

In [23]:
total2 - total1

48.76139999999999

In [27]:
faltu = 0

for i in range(len(y)):
    faltu += (y_pred[i]-y_mean)**2
    print(y_pred[i])
    
faltu

21.5
21.14
26.1
20.2
17.5
19.7
14.9
22.5
25.1
18

105.86500000000004