In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("default")

In [2]:
df = pd.read_excel("data/GET-R2.xlsx")
df.head()

,y_test,y_pred_linear,X_train,X_train.1,X_train.2,X_train.3,X_test,X_test.1,X_test.2,X_test.3,y_train
0,10.0,19.812340,443.87,31.00,57.17,817.38,426.43,23.00,38.67,684.75,3.0
1,16.0,15.663241,441.55,33.30,53.63,663.37,413.56,26.48,32.45,628.68,3.0
2,15.0,12.626890,430.52,35.87,46.93,423.74,408.11,29.93,29.27,578.41,2.0
3,11.0,10.904763,421.59,37.24,42.24,363.13,402.32,31.14,26.41,523.32,2.0
4,6.0,9.239786,422.41,37.34,42.52,489.05,396.36,32.38,20.83,382.75,1.0

In [6]:
df2 = pd.read_csv("data/R2-test-for-Linear.csv")
df2.shape

(108, 2)

In [12]:
df2.head()

   y_test  y_pred_linear
0     3.0      13.416981
1     3.0      12.277990
2     3.0      13.801432
3     4.0      14.032488
4     4.0      13.640793

In [3]:
df.shape

(1007, 11)

In [4]:
df.dropna(inplace=True)

In [5]:
df.shape

(263, 11)

In [28]:
df.isna().sum()

y_test           0
y_pred_linear    0
X_train          0
X_train.1        0
X_train.2        0
X_train.3        0
X_test           0
X_test.1         0
X_test.2         0
X_test.3         0
y_train          0
dtype: int64

In [6]:
X = df.iloc[:, 2:6]
y = df.iloc[:, -1]

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [8]:
model = LinearRegression()

In [10]:
X = X.values
y = y.values

In [19]:
X.shape

(263, 4)

In [11]:
model.fit(X, y)

LinearRegression()

In [12]:
model.score(X, y)

0.3826715140334014

In [13]:
X_test, y_test = df.iloc[:, 6: 10], df.iloc[:, 0]

In [14]:
model.score(X_test, y_test)

0.2680756547972807

In [15]:
y_pred_linear = model.predict(X_test)
r2_score(y_test, y_pred_linear)

0.2680756547972807

In [16]:
# from sklearn.linear_model import LinearRegression
# reg = LinearRegression().fit(X_train, y_train)
# y_pred_linear = reg.predict(X_test)
# from sklearn.metrics import r2_score
# from sklearn.metrics import mean_squared_error
# rms = mean_squared_error(y_test, y_pred_linear, squared=False)
# print('R2 for linear regression = {:.3f}'.format(r2_score(y_test, y_pred_linear)))
# print('RMSE for linear regression= {:.3f}'.format(rms))

In [24]:
my_sheet = 'ATL_ATL_Raw'
df = pd.read_excel("data/CompileData_ATL_v2.xlsx", sheet_name = my_sheet, parse_dates=["Time"])
df.shape

(1007, 17)

In [25]:
df.head()

,Time,Mth,Day,Hr,CO_Sensor,NO2_Sensor,SO2_Sensor,O3_Sensor,PM25_Sensor,PM10_Sensor,Temp,RH,CO,NO2,O3,PM25,PM10
0,2019-06-28 14:00:00,6,28,14,443.87,817.38,1162.52,1329.03,12.00,12.17,31.00,57.17,0.20,3.0,44.0,10.1,19.0
1,2019-06-28 15:00:00,6,28,15,441.55,663.37,1046.92,1190.95,12.40,14.70,33.30,53.63,0.20,3.0,50.0,10.7,18.0
2,2019-06-28 16:00:00,6,28,16,430.52,423.74,937.90,1036.15,10.80,12.37,35.87,46.93,0.18,2.0,52.0,10.3,18.0
3,2019-06-28 17:00:00,6,28,17,421.59,363.13,971.08,1033.35,8.97,10.24,37.24,42.24,0.17,2.0,52.0,9.8,16.0
4,2019-06-28 18:00:00,6,28,18,422.41,489.05,1100.71,1152.37,9.97,11.38,37.34,42.52,0.17,1.0,49.0,10.1,18.0

In [27]:
df.Time.dtypes

dtype('<M8[ns]')

In [30]:
df.isna().sum()

Time          0
CO_Sensor     0
NO2_Sensor    0
Temp          0
RH            0
NO2           0
dtype: int64

In [28]:
#Drop unnecessary variables
#If you want to incorporate CO sensor , do not drop CO_Sensor parameter
df.drop(['Mth','SO2_Sensor','O3_Sensor','PM25_Sensor','PM10_Sensor','CO','O3','PM25','Day','Hr','PM10'],1,inplace=True)
# df = df.reset_index(drop=True)
df = df.dropna()
df = df[df.select_dtypes(include=[np.number]).ge(0).all(1)]
dfcali = df[df['Time'] <= '2019-08-08 23:00:00']

In [31]:
dfcali.shape

(901, 6)

In [33]:
#Import the dataset for Atlanta Local Calibration Test
from pandas import read_excel
my_sheet = 'ATL_PTL_Raw'
file_name = 'data/CompileData_ATL_v2.xlsx'
dfrun = read_excel(file_name, sheet_name = my_sheet)
#Drop unnecessary variables
dfrun.drop(['Mth','SO2_Sensor','O3_Sensor','PM25_Sensor','PM10_Sensor','CO','O3','PM25','Day','Hr','PM10'],1,inplace=True)
# dfrun = dfrun.reset_index(drop=True)
dfrun = dfrun.dropna()

In [34]:
#define train and test set
y_train = np.array(dfcali.NO2)
y_test = np.array(dfrun.NO2)
dfcali.drop(['NO2','Time'],1,inplace = True)
dfrun.drop(['NO2','Time'],1,inplace = True)
X_train = dfcali.values
X_test = dfrun.values
#Run linear regression model
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
y_pred_linear = reg.predict(X_test)
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
rms = mean_squared_error(y_test, y_pred_linear, squared=False)
print('R2 for linear regression = {:.3f}'.format(r2_score(y_test, y_pred_linear)))
print('RMSE for linear regression= {:.3f}'.format(rms))

R2 for linear regression = -0.821
RMSE for linear regression= 8.295

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,